.contakt-list{
    display: inline-block;

    &__adres {
        display: flex;
        
        @include stfont(1.71,0.03em,$header-background-color);
        font-size: 14px;
        
       
        margin-top: 28px;
    }
    
    &__link {
        display: inline-block;

        @include stfont(1.71,0.03em,$footer-link-color);
        font-style: normal;

        margin-top: 12px;
    }
    }
    
   