.hero{
    background-color: $hero-background-color ;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img\ 3.jpg);;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;

    &__title{
        @include stfont(1.36,0.06em,$hero-text-color);
        font-weight: 900;
        text-transform: uppercase;
        font-size: 44px;
    
        margin-bottom: 30px;
    }
   
}
