.logo{
    display: flex;
     font-family: 'Raleway', sans-serif;
     @include stfont(1.17,0.03em,#000000);
     font-weight: 700;
     font-size: 26px;
     text-decoration: none;
  }
  .header__logo{
    margin-right: 93px;
}

.logo__segment{
    color: $activ-text-color;
}