.page-footer {
    background-color: $hero-background-color;
    padding:60px 0;

    &__container{
        display: flex;
        align-items: baseline;   
    }
    &__logo {
        color: $header-background-color;    
    }
    &__info{
        display: inline-block;
    }
}

