.page-footer {
    background-color: $hero-background-color;
    padding:60px 0;
}

.page-footer__container{
    display: flex;
    align-items: baseline;   
}
.page-footer__logo {
    color: $header-background-color;    
}
.page-footer__info{
    display: inline-block;
}