.social-network{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    &__link {
        @extend %network;
        
        color: #afb1b8;
        background-color: $header-background-color; 
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus{
            color: $header-background-color;
        } 
    }
     &__icon{
     fill: currentColor;
     }
 }
 
 
