%network{
    display:inline-flex ;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        background-color: $activ-text-color;
}
     &:not(:last-child){
        margin-right: 10px;  
}
}

%battons{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.88;

    color: $button-text-color;
    background-color: $activ-text-color;
    cursor: pointer;
    border-radius: 4px;
    min-width: 200px;
    border: 0px;
    align-items: center;
}
%style-text-sekondary{
    color: $secondary-text-color;
     line-height: 1.71;
     letter-spacing: 0.03em;
}
%section-title{
    font-weight: 700; 
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    margin-bottom: 50px;
}
%transform-centr{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}